.container {
    view-timeline-name: --image;
    view-timeline: block;
    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
    font-size: 100%;
    color: white;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.post-container {
    box-shadow: 10px 10px 2px gray;
    border: 4px solid rgb(27, 99, 255);
    background-color: rgb(27, 126, 255);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 10fr;
}


.post {

    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
}

.post-img {
    width: 90%;
}

.like {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.container:hover #details {
    transform: translateY(-40%);
}


.post-details {
    top:-5%;
    position: absolute;
    font-size: 100%;
    white-space: nowrap;  
    background-color: rgb(27, 99, 255);
    border: 4px solid rgb(27, 99, 255);
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    height: 40%;
    padding-top: .5%;
    padding-left: 4%;
    padding-right: 4%;
    z-index: -1;
    width: fit-content;
    text-align: center;
    transition: transform 0.3s ease;;
}
.post-name {
    height: 100%;
    text-align: center;
    align-content: center;

}

.post-img-container {
    height: 100%;
    text-align: center;
    align-content: center;

}

.post-description {
    height: 100%;

    align-content: center;


}

.emoji {
    cursor: pointer;
    animation: 2s infinite hearth;
}

.emoji:hover {
    font-size: xx-large;
    animation: .5s infinite hearth;
}

@keyframes hearth {
    50% {
        transform: scale(1.2);
    }

    100% {
        transform: rotateX(90%);
    }

}

@keyframes show {
    from {
        opacity: 0;
        scale: 95%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}